.business-header
  span.business-logo
    img(src='images/logo.png' alt='')
  span
    p PHNOM PENH, 04.05.2018
    table
      tr
        td
          p Consultant:
          p Department:
          p Email:
        td
          p Samo Danh
          p Phuong Nam Education
          p danh.samo@phuongnameducation.com
.business-title
  h1 BUSINESS CONTRACT
  h2
    span.col-left SERVICE :
    span CMS EZWEBKH.COM
  h3
    span.col-left Contract ID:
    span 43.CDSM.EZW.Apr18
.business-content
  .business-row
    span.col-left Parties
    span.col-right
      ul
        li.name-partner Party A
        li SOGC (Cambodia) Co., Ltd
        li Chief Executive Officer Mr. Sen Sokun
        li
          | #1B, Street 77BT, Sangkat Boeung Tum Pun, Khan Meanchey,
          | Phnom Penh, Cambodia
        li Website:&#x9;https://sogccambodia.com
        li Email:&#x9;info@sogccambodia.com
        li Phone:&#x9;(+855) 23 66 88 123
      ul
        li.name-partner Party B
        li
          | Phuong Nam Education
          | Consultancy Service Trading Company Limited
        li Director Mr. Nguyen Huu Thien An
        li 07 Nam Quoc Cang Pham Ngu Lao Ward. District 1. HCMC. Vietnam.
        li Website:&#x9;www.phuongnamdigital.com
        li Email:&#x9;info@phuongnamdigital.com
        li Phone:&#x9;(+84) 28 3603 1169
  .pagebreak
  .business-row
    span.col-left
      | Operative 
      br
      |  Provisions
    span.col-right(style='padding: 50px 0 0 0')
      | Both parties hereby agree to sign this contract for supply of services with terms and conditions as follows:
  .business-row
    span.col-left.text-right.title-article Article 1
    span.col-right
      p.title-article-right Description of Services
      p
        | Party B shall provide the EZWeb website services to Party A as the following requires:
  .business-row
    .list-cart-business
      ul.title-cart-business
        li NO
        li SERVICES
        li UNIT PRICE
        li DURATION
        li PROMOTION
        li AMOUNT
      ul
        li 01
        li EZWeb Basic https://sogccambodia.com/
        li $ 250
        li 1 Year
        li -50%
        li 125 USD
      ul
        li 02
        li EZWeb Basic https://sogccambodia.com/
        li $ 250
        li 1 Year
        li -50%
        li 125 USD
      ul
        li 03
        li EZWeb Basic https://sogccambodia.com/
        li $ 250
        li 1 Year
        li -50%
        li 125 USD
    ul.total-cart-business
      li
        span Subtotal
        span 250 USD
      li
        span VAT xx%
        span  - USD
      li
        span TOTAL
        span 250 USD
  .business-row
    .col-left(style='text-indent:-9999px') business
    .col-right
      p(style='margin-bottom: 20px;') Execution time:&#x9;from 25.05.2018 to 25.05.2021
      p
        | Detail information of EZWeb services, please find at: https://ezwebkh.com/pricing.html
  .pagebreak
  .business-row
    span.col-left.text-right.title-article Article 2
    span.col-right
      p.title-article-right Contract Value &amp; Payment
      ul
        li
          span.col-left 2.1
          span.col-right
            table
              tr
                td Party A will pay for Party B:
                td 250 USD
              tr
                td Amount in words:
                td Two hundred fifty USD
          span
            | The maintenance fee in subsequent years will be paid before the expiration date (the expiration date was defined in Article 1 of this contract). The renewed policy of Party B is specified in Article 5 of this contract. During the contract period, if Party A uses any other services of Party B, both parties will sign the additional contract addendum, which has equal validity to the contract.
        li
          span.col-left 2.2
          span.col-right
            table
              tr
                td Payment Form:
                td Cash or Bank transfer
  .business-row.custom-list-article
    span.col-left.text-right.title-article Article 3
    span.col-right
      p.title-article-right Account Terms
      ul
        li
          | You are responsible for your Account and any Materials you upload to the EZWeb Service. Remember that with any violation of these terms we will cancel your service. If we need to reach you, we will send you an email.
        li
          span.col-left 3.1
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You must be at least the age of majority in the jurisdiction where you reside or from which you use this Service.
        li
          span.col-left 3.2
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;To access and use the Services, you must register for a EZWeb account (&ldquo;Account&rdquo;) by providing your full legal name, current address, phone number, a valid email address, and any other information indicated as required. EZWeb may reject your application for an Account, or cancel an existing Account, for any reason, in our sole discretion.
        li
          span.col-left 3.3
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You acknowledge that Shopify will use the email address you provide as the primary method for communication.
        li
          span.col-left 3.4
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You are responsible for keeping your password secure. Shopify cannot and will not be liable for any loss or damage from your failure to maintain the security of your Account and password.
        li
          span.col-left 3.5
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You are responsible for all activity and content such as photos, images, videos, graphics, written content, audio files, code, information, or data uploaded, collected, generated, stored, displayed, distributed, transmitted or exhibited on or in connection with your Account (&ldquo;Materials&rdquo;).
        li
          span.col-left 3.6
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;A breach or violation of any term in the Terms of Service as determined in the sole discretion of EZWeb will result in an immediate termination of your services.
  .pagebreak
  .business-row.custom-list-article
    span.col-left.text-right.title-article Article 4
    span.col-right
      p.title-article-right Account Activation
      ul
        li
          | The person signing up for the Shopify Service is responsible for the account and is bound by these Terms of Service. If you signup on behalf of your employer, your employer owns the account and is also bound by our Terms of Service. We automatically create accounts for you to accept payments. You are responsible for activating and deactivating these accounts. Any domain you purchase through us will automatically renew unless you opt out.
        li
          span.col-left 4.1
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The person signing up for the Service will be the contracting party (&ldquo;Account Owner&rdquo;) for the purposes of our Terms of Service and will be the person who is authorized to use any corresponding account we may provide to the Account Owner in connection with the Service. If you are signing up for the Service on behalf of your employer, your employer shall be the Account Owner.
        li
          span.col-left 4.2
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;If you are signing up for the Service on behalf of your employer, then you represent and warrant that you have the authority to bind your employer to our Terms of Service.
  .business-row.custom-list-article
    span.col-left.text-right.title-article Article 5
    span.col-right
      p.title-article-right General Conditions
      ul
        li
          | The EZWeb service belongs to Party B. Party A are not allowed to rip it off or use it for any illegal or sketchy purpose. If a dispute arises the issue will be dealt with the law of Vietnam.
        li
          | You must read, agree with and accept all of the terms and conditions contained in these Terms of Service, including the AUP and the Privacy Policy before you may become a member of Shopify.
        li
          span.col-left 5.1
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Technical support is only provided to paying Account holders and is only available via email or chat within the EZWEB Admin.
        li
          span.col-left 5.2
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The Terms of Service shall be governed by and interpreted in accordance with the laws of Vietnam. The parties irrevocably and unconditionally submit to the exclusive jurisdiction of the law of Vietnam with respect to any dispute or claim arising out of or in connection with the Terms of Service available at https://ezweb.vn/page/chinh-sach-quy-dinh-chung.html. If you do not agree to any changes to the Terms of Service, do not continue to use the Service.
        li
          span.col-left 5.3
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You may not use the Shopify service for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws), the laws applicable to you in your customer&rsquo;s jurisdiction, or the laws of Vietnam. You will comply with all applicable laws, rules and regulations in your use of the Service.
        li
          | You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by EZWeb.
        li
          span.col-left 5.4
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Questions about the Terms of Service should be sent to info@ezweb.vn
        li
          span.col-left 5.5
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You understand that your Materials (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit Card information is always encrypted during transfer over networks.
        li
          span.col-left 5.6
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;The Terms of Service may be available in languages other than English. To the extent of any inconsistencies or conflicts between these English Terms of Service and EZWeb&rsquo;s Terms of Service available in another language, the most current English version of the Terms of Service at https://ezweb.vn/page/chinh-sach-quy-dinh-chung.html will prevail.
  .business-row.custom-list-article
    span.col-left.text-right.title-article Article 6
    span.col-right
      p.title-article-right Rights of Party B
      ul
        li
          | We can modify, cancel or refuse the service at anytime. In the event of an ownership dispute over an EZWeb account, we can freeze the account or transfer it to the rightful owner.
        li
          span.col-left 6.1
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;We reserve the right to modify or terminate the Service for any reason, without notice at any time.
        li
          span.col-left 6.2
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;We reserve the right to refuse service to anyone for any reason at any time.
        li
          span.col-left 6.3
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Shopify retains the right to determine, in our sole judgment, rightful Account ownership and transfer an Account to the rightful owner. If we are unable to reasonably determine the rightful Account owner, Shopify reserves the right to temporarily disable an Account until resolution has been determined between the disputing parties.
  .business-row.custom-list-article
    span.col-left.text-right.title-article Article 7
    span.col-right
      p.title-article-right Limitation of Liability
      ul
        li
          | We are not responsible if you break the law, breach this agreement or go against the rights of a third party, especially if you get sued. Service is &ldquo;as is&rdquo; so it may have errors or interruptions and we provide no warranties.
        li
          span.col-left 7.1
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You expressly understand and agree that EZWeb shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service. In no event shall EZWeb or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or these Terms of Service.
        li
          span.col-left 7.2
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;EZWeb does not warrant that the quality of any products, services, information, or other Materials purchased or obtained by you through the Service will meet your expectations, or that any errors in the Service will be corrected.
  .pagebreak
  .business-row.custom-list-article
    span.col-left.text-right.title-article Article 8
    span.col-right
      p.title-article-right Intellectual Property and Customer Content
      ul
        li
          span.col-left 8.1
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;We do not claim any intellectual property rights over the Materials you provide to the EZWeb service. All Materials you upload remains yours. You can remove your EZWeb store at any time by deleting your Account.
        li
          span.col-left 8.2
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;By uploading Materials, you agree: (a) to allow other internet users to view the Materials you post publicly to your store; (b) to allow EZWeb to store, and in the case of Materials you post publicly, display, your Materials; and (c) that EZWeb can, at any time, review all the Materials submitted to its Service, although EZWeb is not obligated to do so.
        li
          span.col-left 8.3
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You retain ownership over all Materials that you upload to a EZWeb store; however, by making your store public, you agree to allow others to view Materials that you post publicly to your store. You are responsible for compliance of the Materials with any applicable laws or regulations.
        li
          span.col-left 8.4
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;We will not disclose your confidential information to third parties, except as required in the course of providing our services. Confidential information includes any Materials or information provided by you to us which is not publicly known. Confidential information does not include information that: (a) was in the public domain at the time we received it; (b) comes into the public domain after we received it through no fault of ours; (c) we received from someone other than you without breach of our or their confidentiality obligations; or (d) we are required by law to disclose.
        li
          span.col-left 8.5
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;EZWeb shall have the non-exclusive right and license to use the names, trademarks, service marks and logos associated with your store to promote the Service.
        li
          span.col-left 8.6
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;You can purchase our Themes to use for one store at a time. Feel free to modify our Theme, but respect that the designers own their Themes, so don&rsquo;t infringe on their rights. For Theme-related problems, contact the designer. Note that Themes may disappear over time and are subject to change.
  .business-row.custom-list-article
    span.col-left.text-right.title-article Article 9
    span.col-right
      p.title-article-right Cancellation and Termination
      ul
        li
          | To initiate a cancellation, email info@ezweb.vn. EZWeb will respond with specific information regarding the cancellation process for your account. Once cancellation is confirmed, domains purchased through EZWeb will no longer be automatically renewed. If you cancel in the middle of your billing cycle, you&rsquo;ll have one last email invoice. We may change or cancel your account at any time. Any fraud and we will suspend or cancel your account.
        li
          span.col-left 9.1
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Upon termination of the Services by either party for any reason:
          ul
            li
              span.col-left a.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;EZWeb will cease providing you with the Services and you will no longer be able to access your Account;
            li
              span.col-left b.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;unless otherwise provided in the Terms of Service, you will not be &#x9;entitled to any refunds of any Fees, pro rata or otherwise;
            li
              span.col-left c.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;any outstanding balance owed to EZWeb for your use of the Services &#x9;through the effective date of such termination will immediately become due &#x9;and payable in full; and
            li
              span.col-left d.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;your store website will be taken offline.
        li
          span.col-left 9.2
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;If you purchased a domain name through Shopify, upon cancellation your domain will no longer be automatically renewed. Following cancellation, it will be your sole responsibility to handle all matters related to your domain with the domain provider.
  .business-row.signature-business
    h4 DATE AND SIGNATURE OF THE PARTIES
    span.col-left(style='text-indent: -9999px') business
    span.col-right
      table
        tr
          td
          td Party A
          td Party B
        tr
          td Date
          td .............................................
          td .............................................
        tr
          td Name
          td .............................................
          td .............................................
        tr
          td
          td Signature
          td Signature
template.footer
  span

template.header
  style(type='text/css').
    .pdfheader {
      font-size: 10px;
      font-family: Helvetica;
      font-weight: bold;
      width: 90%;
      margin: 0 auto;
      border-bottom: 1px solid black;
      padding-bottom: 1mm;
      margin-bottom: -1mm;
      text-align: right;
    }
    #contractId {
      float:left;
    }
  .pdfheader
    span#contractId Business Contract: DMDMDM
    span Page #[span.pageNumber] / #[span.totalPages]
style
  include:scss style.scss